<div class="container">
  <h1>Welcome to Sinatra!</h1><br>
  <br>

  <p>Login</p>
  <form action="/login" method="post">
    <input type = "text" placeholder = "email" name = "email">
    <input type = "text" placeholder = "password" name = "password">
    <input type = "Submit" value = "Login">
  </form><br>
  <br>

  <% if @user && !@user.errors.empty? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
  <p>New Account</p>
  <form action="/new" method="post">
    <input type = "text" placeholder = "name" name = "name" value="<%= @user.name if @user %>">
    <input type = "text" placeholder = "email" name = "email" value="<%= @user.email if @user %>">
    <input type = "text" placeholder = "password" name = "password">
    <input type = "Submit" value = "Create">
  </form><br>
  <br>

</div>
