<div class="container">
  <h1>Welcome to your Secret <%= @user.name %> Page!</h1><br>
  <br>

   <form action="/logout" method="get">
    <input type = "Submit" value = "Logout">
  </form><br>
  <br>

</div>
